#menu
{
	position: fixed;
	top: 0; /* Stick the menu to the top */
    left: 0; /* Stick the menu to the left */
	width: 100%;
	height: 35px;
	/*background: deepskyblue;*/
	display: flex;
	background-image: url("background.png");
}

#menu li
{
	list-style: none;
	font-size: 16px; /* Heading font size */
	margin: 10px;
}

#menu a
{
	color: black; /* Set the color for unvisited links */
    text-decoration: none; /* Remove underlines from links */
	font-weight: bold; /* Make the text bold */
	font-family: Gisha, sans-serif; /* Change the font */
}

#menu a:visited
{
	color: black; /* Set the color for unvisited links */
    text-decoration: none; /* Remove underlines from links */
	font-weight: bold; /* Make the text bold */
	font-family: Gisha, sans-serif; /* Change the font */
}

#menu a:hover
{
	background-color: bisque;
}

.logo
{
	width: 50px; /* Adjust the width to match the desired size */
	height: 35px; /* Automatically adjust the height to maintain aspect ratio */
	/*margin-right: 10px; !* Add some spacing between the logo and the menu items *!*/
}

.logo:hover
{
	background-image: url("background.png");
}

.section
{
	color: black; /* Set the color for unvisited links */
	font-family: Gisha, sans-serif; /* Change the font */
}

.about-text
{
	text-align: center;
}


.photos-text
{
	/*display: block;*/
    /*margin: 0 auto; !* Center the image horizontally *!*/
}

h2
{
	font-size: 24px; /* Heading font size */
    margin-bottom: 10px; /* Bottom margin for heading */
	text-decoration: underline; /* Remove underlines from links */
	font-weight: bold; /* Make the text bold */
	background-image: url("background.png");
	background-repeat: repeat;
	/*background-color: deepskyblue;*/
	background-size: cover;
	text-align: center;

}


.row > .column {
    padding: 2px 4px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
    float: left;
    width: 20%; /* Adjust the width to create four equal columns */
    text-align: center; /* Center align the content */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    padding: 2px 4px; /* Add some padding */
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Caption text */
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

img.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Contact Section Styles */
#contact {
    background-color: #f9f9f9;
    padding: 50px 0;
}

.contact-form {
    text-align: center;
}

.contact-form form {
    margin-top: 20px;
}

.contact-form label {
    display: block;
    font-size: 18px;
    color: #555;
    font-weight: bold;
}

.contact-form input[type="email"]{
    width: 400px;
    padding: 8px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.messageText
{
    float: none;
    width: 400px;
    padding: 1%;
    margin: 0 auto; /* Centers the element horizontally */
    text-align: left;
}

.contact-form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button[type="submit"]:hover {
    background-color: #0056b3;
}

.h-captcha {
    margin-bottom: 15px;
}